<div class="container-fluid header-background">
  <div class="row">
    <div class="col-sm-4 text-cente">
      <p class="text-center">
          <i class="fa fa-home" aria-hidden="true" (click)="goTomainView()"></i>
      </p>
    </div>
    <div class="col-sm-4 text-center">
      <p>Wierszownica</p>
    </div>
    <div class="col-sm-4">
      <p class="text-center">
          <i class="fa fa-search" aria-hidden="true"></i>
      </p>

    </div>
  </div>
</div>
<app-main-background></app-main-background>
